{% extends 'base.html.twig' %}

{% block title %}Todo App
{% endblock %}

{% block content %}

	<body>
		<header>
			<h1>Todo App</h1>
		</header>
		<main>
			<form action="{{ path('create_todo') }}" method="POST">
				<fieldset>
				<legend>Add todo</legend>
				<input type="text" name="todo" placeholder="My new todo..">
				<button class='button add-button'type="submit">Add</button>
				</fieldset>
			</form>
		
		<h2>My todos</h2>
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Todo</th>
					<th class='todo-actions'>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
					<tr>
						{# <td>{{task.id}}</td> #}
						<td>{{loop.index0 + 1}}</td>
						<td>{{task.todo}}</td>
						<td>
						<div class='actions-container'>
							<a href="{{ path('show_todo', {id: task.id}) }}">
								{# <span class='button edit-button'>edit</span> #}
								<span class="edit-todo material-symbols-outlined">
								edit_note
								</span>
							</a>
							<a onclick="return confirm('Are you sure to delete?')" href="{{path ('delete_todo',{'id':task.id})}}">
								{# <span class=' button remove-button'>remove</span> #}
								<span class="delete material-symbols-outlined">
								delete
								</span>
							</a>
						</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</main>
	</body>

{% endblock %}
